*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Signing files
*.jks
*.keystore
*.p12
*.pem

# Secret properties
secrets.properties

# Built binaries
*.apk
*.aab

# OS files
Thumbs.db

# Firebase/Google Services
google-services.json
